
<footer class="page-footer font-small cyan darken-3"
style="background: white; padding-top: 30px; margin-top:10px; padding-bottom: 10px;">
<div class="d-flex justify-content-evenly">
    <!-- Facebook -->
    <a class="fb-ic" href="https://www.facebook.com/">
        <i class="fab fa-facebook-f fa-lg text-black mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Twitter -->
    <a class="tw-ic" href="https://www.twitter.com/">
        <i class="fab fa-twitter fa-lg text-black mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Linkedin -->
    <a class="li-ic" href="https://www.linkedin.com/">
        <i class="fab fa-linkedin-in fa-lg text-black mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Instagram-->
    <a class="ins-ic" href="https://www.instagram.com/">
        <i class="fab fa-instagram fa-lg text-black mr-md-5 mr-3 fa-2x"> </i>
    </a>
</div>
<!-- Copyright -->
<div class="footer-copyright text-center py-3">
    <p class="font-weight-bold">© 2020 Copyright : ThePollCenter</p>
</div>
<!-- Copyright -->
</footer>
